AMOY=https://polygon-amoy.g.alchemy.com/your-api-key  (or use infura for node as service)
ADMIN=your-wallet-address
ETHERSCAN_API_KEY=your-etherscan-api-key (use only if you want to verify contract on etherscan)
PRIVATE_KEY=your-wallet-private-key (Not recomment, but if you are only working in locan then fine but keep in mind never put private key in .env file, use foundry cast tool for better key management)
